<main role="main" class="container">
  <div class="row">

    <div class="col-8 mx-auto my-4 p-3 rounded-right rounded-left bg-white shadow-lg">
      <h4 class="text-center mb-0">Edit tags</h4>
      <hr>
      <div class="row">
        <div class="col-6">
          <h4 class="text-center mb-0">Your subscribes</h4>
          <div class="tags d-flex flex-wrap justify-content-center">
            <% current_user.tags.each do |tag| %>
              <%= link_to "<button type=\"button\" class=\"btn btn-primary\">#{tag.name}</button>".html_safe, tag, method: :delete, style: "text-color: white;" %>
            <% end %>
          </div>
        </div>
        <div class="col-6">
          <h4 class="text-center mb-0">Other tags</h4>
          <div class="tags d-flex flex-wrap justify-content-center">
            <% Tag.where.not(id: current_user.tags).each do |tag| %>
              <%= link_to "<button type=\"button\" class=\"btn btn-outline-secondary\">#{tag.name}</button>".html_safe, tag, method: :get, style: "text-color: white;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>